<div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <p class="title has-text-centered">Recuperação de Senha</p>
  
        <div class="field">
          <p class="control has-icons-left">
            <input 
              class="input" 
              type="text" 
              [(ngModel)]="emailOrCpf" 
              placeholder="Digite seu email ou CPF" 
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <p class="help is-danger" *ngIf="erro">{{ erro }}</p>
        </div>
  
        <div class="field">
          <p class="control has-icons-left">
            <input 
              class="input" 
              type="password" 
              [(ngModel)]="novaSenha" 
              placeholder="Digite sua nova senha" 
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
  
        <div class="field">
          <p class="control">
            <button 
              (click)="recuperarSenha()" 
              class="button is-primary is-fullwidth"
            >
              Alterar Senha
            </button>
          </p>
        </div>
  
        <div *ngIf="sucesso" class="notification is-success has-text-centered">
          {{ sucesso }}
        </div>
        <div *ngIf="erro" class="notification is-danger has-text-centered">
          {{ erro }}
        </div>
  
        <div class="has-text-centered" style="margin-top: 10px;">
          <a routerLink="/login" class="is-link">Voltar para o login</a>
        </div>
      </div>
    </div>
  </div>
  