<div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <p class="title has-text-centered">Login</p>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" [(ngModel)]="emailOrCpf" placeholder="Email or CPF" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope" style="margin-right: 5px;"></i>
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" [(ngModel)]="senha" placeholder="Password" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button (click)="validaLogin()" class="button is-primary is-fullwidth">Login</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  