<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <p class="title has-text-centered">Login</p>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" [(ngModel)]="emailOrCpf" placeholder="Email ou CPF" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
        <p class="help is-danger" *ngIf="erroEmailOuCpf">{{ erroEmailOuCpf }}</p>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="password" [(ngModel)]="senha" placeholder="Senha" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
        <p class="help is-danger" *ngIf="erroSenha">{{ erroSenha }}</p>
      </div>

      <div class="field">
        <p class="control">
          <button (click)="validaLogin()" class="button is-primary is-fullwidth">Login</button>
        </p>
      </div>
    </div>
  </div>
</div>
